In [1]:
import pandas as pd
import numpy as np
import torch
import torch.nn as nn
from transformers import Trainer, TrainingArguments
from torch.utils.data import DataLoader

from PreprocessData import *

from transformers import LongformerForSequenceClassification, LongformerTokenizer

WARNING:tensorflow:From c:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\tf_keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\user\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\user\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [ ]:
train_file_path = 'C:\\Users\\user\\Programming\\Git\\challenge_data\\train_tweets\\ArgentinaBelgium72.csv'

df = pd.read_csv(train_file_path)
pd.save(df['Tweet'])
# df = pd.concat([df[:10], df[20000:20010]], axis=0)
# df = df[['PeriodID', 'EventType', 'Tweet']]

# # Apply preprocessing to each tweet
# df['Tweet'] = df['Tweet'].apply(preprocess_text)
# print("1: ", df)

0         RT @2014WorIdCup: Argentina vs Belgium\n\nWho ...
1         @elijahman_ time to focus on Belgium winning t...
2         RT @FIFAWorldCup: GLOBAL STADIUM: #Joinin with...
3         RT @CatholicNewsSvc: #PopeFrancis. Uh-oh. Arge...
4         RT @soccerdotcom: If he scores vs #BEL we'll a...
                                ...
313798    RT @2014WC_Brazil: This is the first time in W...
313799    RT @Footy___Girls: Lovely Celebration  #ARG\n ...
313800    It's not like I hate the country or anything, ...
313801    RT @UtdIndonesiaBDG: Yah gugur, gutted couldn'...
313802                   Can't wait for Argentina to go out
Name: Tweet, Length: 313803, dtype: object

In [39]:
# Tokenize the 'Tweet' column and pad/truncate to length l
tokenizer = LongformerTokenizer.from_pretrained('allenai/longformer-base-4096')
l = 10
def tokenize_tweet(tweet):
    tokens = tokenizer.encode(tweet, truncation=True, padding="max_length", max_length=l, add_special_tokens=True)
    return tokens
df['Tweet'] = df['Tweet'].apply(tokenize_tweet)
print("2: ", df)

2:         PeriodID  EventType                                              Tweet
0             0          0  [0, 9713, 45155, 808, 21033, 29480, 1342, 1243...
1             0          0  [0, 523, 44303, 397, 1215, 86, 1056, 12138, 57...
2             0          0  [0, 9713, 45783, 1584, 39949, 21033, 720, 4773...
3             0          0  [0, 9713, 31420, 12589, 4651, 7485, 36940, 349...
4             0          0  [0, 9713, 4191, 33369, 175, 1471, 748, 12138, ...
5             0          0  [0, 9713, 4191, 33369, 175, 1471, 748, 12138, ...
6             0          0  [0, 298, 9877, 29480, 1342, 1243, 2217, 74, 15...
7             0          0  [0, 11018, 29480, 1342, 1243, 748, 12138, 571,...
8             0          0  [0, 267, 338, 20614, 329, 33976, 101, 29480, 1...
9             0          0  [0, 12963, 600, 4157, 12138, 571, 4031, 4108, ...
20000         9          1  [0, 9713, 21179, 282, 25484, 885, 438, 4401, 6...
20001         9          1  [0, 9713, 22053, 438, 3314, 29480, 1342, 1243,...
20002         9          1  [0, 9713, 13418, 6695, 607, 5, 21381, 11107, 1...
20003         9          1  [0, 9713, 22053, 438, 3314, 29480, 1342, 1243,...
20004         9          1  [0, 9713, 3023, 139, 1215, 40693, 1215, 1747, ...
20005         9          1  [0, 2716, 213, 905, 213, 29480, 1342, 1243, 16...
20006         9          1  [0, 571, 19864, 821, 7043, 219, 748, 29480, 13...
20007         9          1      [0, 2977, 12138, 449, 7474, 3785, 2, 1, 1, 1]
20008         9          1  [0, 20982, 1034, 29480, 1342, 1243, 339, 914, ...
20009         9          1  [0, 9713, 29227, 1506, 8310, 4494, 3144, 3055,...

In [40]:
df_g = df.groupby(['EventType','PeriodID'])['Tweet'].apply(list).reset_index()
df_g['Tweet'] = df_g['Tweet'].apply(lambda x: list(itertools.chain.from_iterable(x)))
print("3: ", df_g)

3:     EventType  PeriodID                                              Tweet
0          0         0  [0, 9713, 45155, 808, 21033, 29480, 1342, 1243...
1          1         9  [0, 9713, 21179, 282, 25484, 885, 438, 4401, 6...

In [ ]:
def split_into_pieces(arr, piece_size=6):
    arr = arr[:len(arr) - (len(arr) % piece_size)]
    return [arr[i:i + piece_size] for i in range(0, len(arr), piece_size)]

df_g['Tweet'] = df_g['Tweet'].apply(split_into_pieces)
df_g = df_g.explode('Tweet').reset_index(drop=True)
print("4: ", df_g)

4:      EventType  PeriodID                                  Tweet
0           0         0    [0, 9713, 45155, 808, 21033, 29480]
1           0         0           [1342, 1243, 748, 2, 0, 523]
2           0         0    [44303, 397, 1215, 86, 1056, 12138]
3           0         0         [571, 2, 0, 9713, 45783, 1584]
4           0         0     [39949, 21033, 720, 4773, 1962, 2]
5           0         0    [0, 9713, 31420, 12589, 4651, 7485]
6           0         0        [36940, 3495, 4550, 2, 0, 9713]
7           0         0   [4191, 33369, 175, 1471, 748, 12138]
8           0         0         [157, 2, 0, 9713, 4191, 33369]
9           0         0        [175, 1471, 748, 12138, 157, 2]
10          0         0      [0, 298, 9877, 29480, 1342, 1243]
11          0         0          [2217, 74, 1531, 2, 0, 11018]
12          0         0   [29480, 1342, 1243, 748, 12138, 571]
13          0         0          [4031, 2, 0, 267, 338, 20614]
14          0         0      [329, 33976, 101, 29480, 1342, 2]
15          0         0      [0, 12963, 600, 4157, 12138, 571]
16          0         0                  [4031, 4108, 1717, 2]
17          1         9      [0, 9713, 21179, 282, 25484, 885]
18          1         9           [438, 4401, 625, 2, 0, 9713]
19          1         9  [22053, 438, 3314, 29480, 1342, 1243]
20          1         9        [1831, 2, 0, 9713, 13418, 6695]
21          1         9       [607, 5, 21381, 11107, 12138, 2]
22          1         9     [0, 9713, 22053, 438, 3314, 29480]
23          1         9         [1342, 1243, 1831, 2, 0, 9713]
24          1         9   [3023, 139, 1215, 40693, 1215, 1747]
25          1         9            [386, 2, 0, 2716, 213, 905]
26          1         9       [213, 29480, 1342, 1243, 164, 2]
27          1         9        [0, 571, 19864, 821, 7043, 219]
28          1         9         [748, 29480, 1342, 2, 0, 2977]
29          1         9         [12138, 449, 7474, 3785, 2, 1]
30          1         9          [1, 1, 0, 20982, 1034, 29480]
31          1         9           [1342, 1243, 339, 914, 2, 1]
32          1         9     [0, 9713, 29227, 1506, 8310, 4494]
33          1         9                 [3144, 3055, 20782, 2]

In [42]:
df_g = df_g[['EventType', 'Tweet']]
print("5: ", df_g)

5:      EventType                                  Tweet
0           0    [0, 9713, 45155, 808, 21033, 29480]
1           0           [1342, 1243, 748, 2, 0, 523]
2           0    [44303, 397, 1215, 86, 1056, 12138]
3           0         [571, 2, 0, 9713, 45783, 1584]
4           0     [39949, 21033, 720, 4773, 1962, 2]
5           0    [0, 9713, 31420, 12589, 4651, 7485]
6           0        [36940, 3495, 4550, 2, 0, 9713]
7           0   [4191, 33369, 175, 1471, 748, 12138]
8           0         [157, 2, 0, 9713, 4191, 33369]
9           0        [175, 1471, 748, 12138, 157, 2]
10          0      [0, 298, 9877, 29480, 1342, 1243]
11          0          [2217, 74, 1531, 2, 0, 11018]
12          0   [29480, 1342, 1243, 748, 12138, 571]
13          0          [4031, 2, 0, 267, 338, 20614]
14          0      [329, 33976, 101, 29480, 1342, 2]
15          0      [0, 12963, 600, 4157, 12138, 571]
16          0                  [4031, 4108, 1717, 2]
17          1      [0, 9713, 21179, 282, 25484, 885]
18          1           [438, 4401, 625, 2, 0, 9713]
19          1  [22053, 438, 3314, 29480, 1342, 1243]
20          1        [1831, 2, 0, 9713, 13418, 6695]
21          1       [607, 5, 21381, 11107, 12138, 2]
22          1     [0, 9713, 22053, 438, 3314, 29480]
23          1         [1342, 1243, 1831, 2, 0, 9713]
24          1   [3023, 139, 1215, 40693, 1215, 1747]
25          1            [386, 2, 0, 2716, 213, 905]
26          1       [213, 29480, 1342, 1243, 164, 2]
27          1        [0, 571, 19864, 821, 7043, 219]
28          1         [748, 29480, 1342, 2, 0, 2977]
29          1         [12138, 449, 7474, 3785, 2, 1]
30          1          [1, 1, 0, 20982, 1034, 29480]
31          1           [1342, 1243, 339, 914, 2, 1]
32          1     [0, 9713, 29227, 1506, 8310, 4494]
33          1                 [3144, 3055, 20782, 2]